<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" href="../../static/admin/css/font.css">
    <link rel="stylesheet" href="../../static/admin/css/xadmin.css">
    <script src="../../static/admin/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../../static/admin/js/xadmin.js"></script>
    <script src="../../static/admin/js/jquery.min.js"></script>
</head>
<body>
<form class="layui-form" action="">
    <div class="layui-form-item" style="width:800px;display: inline-block;">
        <label class="layui-form-label" >评论者</label>
        <div class="layui-input-block">
            <input type="text" name="author" required  lay-verify="required" placeholder="昵称" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item" style="width:800px;display: inline-block;">
        <label class="layui-form-label" >所属新闻</label>
        <div class="layui-input-block">
            <input type="text" name="idOfNews" required  lay-verify="required" placeholder="所属新闻id" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item" style="width:800px;display: inline-block;">
        <label class="layui-form-label">内容</label>
        <div class="layui-input-block">
            <input type="text" name="content" required  lay-verify="required" placeholder="正文内容" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item" style="width:800px;display: inline-block;">
        <label class="layui-form-label">备注</label>
        <div class="layui-input-block" >
            <input type="text" name="remark" required  lay-verify="required" placeholder="备注" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item" style="width:800px;display: inline-block;">
        <label class="layui-form-label">来源ip</label>
        <div class="layui-input-block" >
            <input type="text" name="fromIp" required   placeholder="评论来源ip（选填）" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item" style="width:800px;display: inline-block;">
        <label class="layui-form-label" >顺序</label>
        <div class="layui-input-block">
            <input type="text" name="commentSort" required  lay-verify="required" placeholder="根据此项来进行排序(降序)" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">开关</label>
        <div class="layui-input-block">
            <input type="checkbox" name="commentOnOff" lay-text="ON|OFF" lay-skin="switch" value="1">
        </div>
        <div class="layui-form-mid layui-word-aux">此选项影响是否展示给前台</div>
    </div>
    <div class="layui-form-item" style="width:800px;display: inline-block;">
        <label class="layui-form-label" >状态</label>
        <div class="layui-input-block">
            <input type="text" name="commentStatus" required  lay-verify="required" placeholder="不知道有什么用的输入" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item" style="width:800px;display: inline-block;">
        <label class="layui-form-label">创建者</label>
        <div class="layui-input-block">
            <input type="text" name="createBy" width="400"  placeholder="请输入创建的员工id"
                   autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item" style="width:800px;display: inline-block;">
        <label class="layui-form-label">更新者</label>
        <div class="layui-input-block">
            <input type="text" name="updateBy" width="400"  placeholder="请输入更新者的员工id"
                   autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">创建时间</label>
        <div class="layui-inline">
            <input type="text" name="createOn" class="layui-input" id="test1">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">更新时间</label>
        <div class="layui-inline">
            <input type="text" name="updateOn" class="layui-input" id="test2">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formcate">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
<span th:text="${id}" style="display: none" id="idv"></span>
<script>
    //JavaScript代码区域
    layui.use(['form', 'laydate'], function(){
        var form = layui.form;
        var laydate = layui.laydate;
        //监听提交
        laydate.render({
            elem: '#test1' //指定元素
            ,type: 'datetime'
        });
        laydate.render({
            elem: '#test2' //指定元素
            ,type: 'datetime'
        });
        form.on('submit(formcate)', function(data){
            if (data.field.cateOffOn==null){
                data.field.cateOffOn=0;
            }
            var id=[[${id}]]
            console.log("id："+[[${id}]])
            if(id!=-1){
                data.field.id=id;
                $.ajax({
                    url:"updateNewsComment"
                    ,type: "post"
                    ,dataType: "json"
                    ,contentType : 'application/json'
                    ,data: JSON.stringify(data.field)
                    ,success:function (data) {
                        layer.open({
                            content: '更新成功',
                            yes: function(index, layero){
                                //do something
                                layer.close(index); //如果设定了yes回调，需进行手工关闭
                                parent.location.reload();
                            }
                        });
                    }
                    ,error:function (errorThrown) {
                        layer.msg(errorThrown);
                    }

                })
            }else {
                $.ajax({
                    url:"insertNewsComment"
                    ,type: "put"
                    ,dataType: "json"
                    ,contentType : 'application/json'
                    ,data: JSON.stringify(data.field)
                    ,success:function (data) {
                        layer.open({
                            content: '添加成功',
                            yes: function(index, layero){
                                //do something
                                layer.close(index); //如果设定了yes回调，需进行手工关闭
                                parent.location.reload();
                            }
                        });
                    }
                    ,error:function (errorThrown) {
                        layer.msg(errorThrown);
                    }

                })
            }
            return false;
        });
    });
</script>
</body>
</html>