<div class="egames-main-menu" id="sticker">
    <div class="classy-nav-container breakpoint-off">
        <div class="container">
            <!-- Menu -->
            <nav class="classy-navbar justify-content-between" id="egamesNav">

                <!-- Navbar Toggler -->
                <div class="classy-navbar-toggler">
                    <span class="navbarToggler"><span></span><span></span><span></span></span>
                </div>

                <!-- Menu -->
                <div class="classy-menu">

                    <!-- Close Button -->
                    <div class="classycloseIcon">
                        <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                    </div>

                    <!-- Nav Start -->
                    <div class="classynav">
                        <ul>
                            <li><a href="index.html">主页</a></li>
                            <li><a href="game-review.html">游戏</a>
                                <ul class="dropdown">
                                    <li><a href="game-review.html">代加</a></li>
                                    <li><a href="single-game-review.html">代加</a></li>
                                </ul>
                            </li>
                            <li><a href="#">新闻资讯</a>
                                <ul class="dropdown">
                                    <li><a href="news.html">新闻</a></li>
                                    <li><a href="single_news.html">单篇新闻</a></li>
                                </ul>
                            </li>
                            <li><a href="contact.html">about us</a></li>
                        </ul>
                    </div>
                    <!-- Nav End -->
                </div>

                <!-- Top Social Info -->
                <div class="top-social-info">
                    <a href="#" data-toggle="tooltip" data-placement="top" title="Pinterest"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                    <a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="#" data-toggle="tooltip" data-placement="top" title="Dribbble"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                    <a href="#" data-toggle="tooltip" data-placement="top" title="Behance"><i class="fa fa-behance" aria-hidden="true"></i></a>
                    <a href="#" data-toggle="tooltip" data-placement="top" title="Linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </div>
            </nav>
        </div>
    </div>
</div>
